  DIRECTIVE>>>


<script>


myApp.directive("postCard",function(){


  return{

    restrict : "E", // restrict element
    templateUrl : "./views/post-card.html",

    controller  : function($scope){

      console.log("directive scope");
      console.log($scope.blog);

    }// end controller

  }

});


</script>




 SERVICE>>>


<script>


myApp.factory('BlogService',function BlogFactory($http){

  // this method first
  var blogAPIS  =  {};
  var baseUrl = 'https://blog.theguywithideas.com/api/blogs';



  blogAPIS.getAllBlogs = function(){

    return $http({

      method: 'GET',
      url: baseUrl+'/all'

    })


  }// end get All Blogs

  blogAPIS.createABlog = function(blogData){

    return $http.post(baseUrl+'/create',blogData)

  }// end create blog

  blogAPIS.editABlog = function(blogId,blogData){

    return $http.put(baseUrl+'/'+blogId+'/edit',blogData)

  }// end edit blog

  blogAPIS.deleteBlog = function(blogId){

    return $http.post(baseUrl+'/'+blogId+'/remove',null);

  }// end delete blog

  return blogAPIS;


});


</script>



    VIEW>>>

    <div class="myCard">
    	{{cardHeading}}
    	<a ng-href="#/blog/{{blog.blogId}}" >
    	    <h2 class="post-title">
    	        {{blog.heading }}
    	    </h2>
    	    <h3 class="post-subtitle">
    	         {{blog.subHeading}}
    	    </h3>
    	</a>
    	 <p class="hidden">{{blog.bodyHtml}}</p>
    	<div ng-if='blog.author!=""' class="post-meta">Posted by <a href="#">{{blog.author}}</a> on {{blog.created | date:'medium'}}</div><br/>
    	<a ng-click="myBlog.deleteBlog(blog.blogId,$index)">Delete this blog</a>

    </div>
